.result>div{
    padding: 10px;
    width: 100%;
    display: flex;
}
.result>div>div{
    width: 30%;
}
.result-container button {
    transition: all 0.3s ease-in-out;
    border-radius: 40px;
}
.result-error{
    width: 90%;
    color: red;
    font-size: 1.5rem;
    margin: 0 auto;
    text-align: center;
}
@media screen and (max-width: 576px) {
    .result>div{
        padding: 10px;
        /* width: 100%; */
    }
    .result>div>div{
        width:100px;
    }
    .result-container button {
        transition: all 0.3s ease-in-out;
    }
    .dialog-content{
        flex-direction: column;
    }
    .result-error{
        width: 90%;
        color: red;
        font-size: 1rem;
    }
}