.swiper {
  width: 95%;
  height: 76vh;
  border-radius: 25px;
}
.swiper-pagination-bullet {
  background-color: #FFF !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  /* padding: 30px; */
  padding-top: 0;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.event-more{
  animation: fadeIn 1s;
}
.event-title {
  width: 100%;
  margin-bottom: 10px;
}
.event-title > p {
  font-size: 1.25rem;
  font-weight: bold;
  /* text-align: left; */
  margin-top: 2%;
  height: 10px;
}
.event-title > div:nth-child(2) {
  width: 100%;
  height: 1px;
  background: #95c3e9;
}
.hide{
  display: none;
  transition: opacity 1s ease-out;
}
.view-more{
  cursor: pointer;
  margin-top: 10px;
}

.event-cont{
  border-radius: 25px;
  background-color: #202c3c;
  padding-top:30px ;
  padding-bottom:30px ;
  width: 85%;
  margin: 0 auto;
}
.event-cont-light{
  background-color: white;
  padding-top:30px ;
  padding-bottom:30px ;
  width: 85%;
  margin: 0 auto;
}
@keyframes fadeIn {
  from {
       opacity: 0;
  }

  to {
       opacity: 1;
  }
}
.cont-light{
  background-color: white !important;
}
.moment-img{
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.moment-img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide-container {
  background-color: var(--color-primary);
  height: 100%;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.slide-container>div:nth-child(2){
  font-size: 1.5rem;
}

.event {
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .swiper {
    width: 100%;
    height: 50vh;
  }
  .swiper-button-next,
.swiper-button-prev {
  padding-left: -40px;
  padding-right: -40px;
}

.moment-img img{
  width: 100%;
  height: 100%;
}
  .event-cont{
    background-color:var(--color-primary);
    padding-top:0px ;
    width: 80%;
  }

  .slide-container {
    padding: 10px;
  }
  .slide-container>div:nth-child(2){
    font-size: 1.5rem;
  }
  .event-title > div:nth-child(2) {
    width: 80%;
    margin: 0 auto;
    
  }

}