.button {
    background-color: transparent;
    border: 2px solid var(--color-secondary);
    color: var(--color-secondary);
    font-family: 'Poppins', sans-serif;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: .9s;
    font-weight: bolder;
}
.button:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: large;
}


@media screen and (max-width:576px){
    .vertical-timeline-element--work .vertical-timeline-element-content {
        width: 70%;
    }
    .timeline{
        margin-left: 20px;
    
    }

}