.text-content {
  /* background-color: aqua; */
  width: 50%;
  height: 100%;
}
.goal {
}
.introduction {
}
.results {
  margin-top: 10%;
  width: 25%;
  height: 200px;
}
.donate {
  margin-top: 10%;
  width: 25%;
  height: 200px;

}
.typewriter {
  font-size: 2rem;
  
}
.typewriter > div:nth-child(2) {
  font-size: 4rem;
}
.content-title {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 7.5%;
}
.content-title > p {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-top: 2%;
  height: 10px;
}
.content-title > div:nth-child(2) {
  width: 50%;
  height: 1px;
  background: #95c3e9;
}

.content {
  z-index: 99999;
  display: flex;
}


@media screen and (max-width: 576px) {
    .typewriter > div:nth-child(2) {
        font-size: 2rem;
      }
      .donate{
        margin-top: 100%;
      }
      .results {
        margin-top: 100%;
      }
      .text-content {
        width: 60%;
      }
      
}
