.navContainer {
  display: flex;
  justify-content: center;
  
}
.header {
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(25,34,49,0.8);
  transition: .4s;
}
.navElements {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 20%;
  position: fixed;
  bottom: 1rem;
  z-index: 99;;  
  background-color: rgba(25,34,49,0.8);
  border-radius: 4rem;
  padding: 1rem 2.25rem;
  backdrop-filter: blur(10px);
  transition: .4s;
}


.navElements div {
  color: hsl(207, 15%, 95%);
  height: 1.5rem;
  font-size: 1.5rem;
  padding: 0.4rem;
  cursor: pointer;
}
.navElements div.activeClass {
  background: linear-gradient(180deg, hsla(207, 66%, 75%, 1), hsla(207, 66%, 75%, .2));
  box-shadow: 0 0 16px hsla(207, 66%, 75%, .4);
  border-radius: 50%;
  padding: 0.4rem;
  color: var(--color-secondary);

}

@media screen and (max-width:576px) {
  .navElements {
    width: 70%;
  }

}