.testimonials .swiper{
    width: 80%;
    height: 40vh;
}
.testimonials{
    margin-top: 25px;
    font-size: 0.9rem;
}
.swiper .content-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.swiper .content-wrapper .content {
    padding: 2em 1.5em;
    text-align: center;
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    color: #000;
}


.swiper .content-wrapper .content .swiper-avatar img {
    border-radius: 50%;
    height: 150%;
    width:15%;
}
.swiper .content-wrapper .content .cite {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}
.swiper .swiper-slide {
    margin: 0;
    width: 100%;
    padding: 0;
    opacity: 0.2;
    background: rgba(255, 255, 255, .3);
    color: white;
    border-radius: 6px;
    transition: all 0.5s ease-in-out;
}
.swiper .swiper-slide.swiper-slide-active {
    background:white;
    opacity: 1;
    transform: scale(1.1);
}
.swiper .swiper-nav-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    padding-top: 3em;
}

.swiper-pagination .swiper-pagination-bullets {
    margin: 0;
}
.swiper-pagination .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    background: #fff !important;
}
.swiper-pagination-bullet {
    background: #000 !important;
    transition: all 0.2s ease-in-out;
}
.swiper-pagination-bullet-active {
    transform: scale(1.5);
    background: #000 !important;
}

@media screen and (max-width: 576px) {


.testimonials p{
    font-size: 0.7rem;
    line-height: 0.7rem;
    padding: 10px;
    text-align: justify;

}
}