

.App {
  margin: 0;
  text-align: center;
  background-color: var(--color-primary);
  color: white;
  font-family: var(--font-primary);
}
.particles{
  position: absolute;
  height: 450px;
  width: 100%;
  opacity: 0.5;
  margin-top: 80px;
}
.App-light {
  margin: 0;
  text-align: center;
  background-color: white;
  color: black;
  font-family: var(--font-primary);
}
.loader{
  width:500px;
  height:100%;
  background:"rgba(0,0,0,0.5)"
  
}
.book-container{
  height: 100px;
  background-color: yellow;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: var(--color-secondary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a {
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .particles{
    height: 300px;
  }
}