@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  margin: 0;
  text-align: center;
  background-color: #0b111e;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.loader{
  width:500px;
  height:100%;
  background:"rgba(0,0,0,0.5)"
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: var(--color-secondary);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


a {
  text-decoration: none;
}